.tasksContainer {
    padding: 20px;
}

.tasks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px 10px;
  }
  
  .task {
      flex-basis: 31%;
      margin-top: 1em;
      padding: 0;
      border: 1px solid #1e3250;
  }
  /* Highlight first child (most pending task item): */
  .task:first-child {
      color: black;
      background: rgb(202, 232, 250);
      border: 1px solid blue;
  }
    /* Bold part of text in first child (most pending task item: */
    /* .task:nth-child(1) {
        font-weight: bold;
    } */

.taskListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .taskList {
      flex-basis: 60%;
      padding: 1em;
  }

  .checkedTaskContainer {
    flex-basis: 40%;
    padding: 1em;
    text-align: center;
  }

  input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 20px;
  }

  .checkedTaskLabel {
    font-size: 14px;
  }

  .taskName {
    font-size: 18px;
    margin: 0;
  }

  .taskDateText {
    font-size: 14px;
    margin: 0;
  }

  .taskDate {
    font-size: 16px;
    margin: 0;
  }

  .taskEditDel {
    padding: 5px;
  }

  .taskEdit, .taskDel {
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: 14px;
    margin-top: 8px;
    margin-right: 10px;
  }
  /* .taskEdit:hover {
    color: blue;
    font-weight: bold;
  } */

.taskForm {
  width: 60vw;
  /* margin: 20px auto; */
  padding: 20px;
}